ul {
  list-style-type: none;
}

.white-block {
  position: fixed;
  background-color: #FBE9E7;
  width: 100%;
  top: 40%;
  height: 100%;
}

.index-body {
 background-color: #DB4437;
 font-family: 'Saira';
 margin-top: 10%;
 margin-bottom: 5%;
}

.greetings-form {
  position: relative;
  margin: 0 auto;
  padding: 9%;
  background-color: #FFFFFF;
  border-top: 0.5em solid #F98B82;
  width: 50%;
  height: 90%;
  max-height: 90%;
  min-height: 90%;
  max-width: 90%;
  min-width: 50%;
}

.greetings-form h2 {
  text-align: center;
  font-size: 6vh;
}


.test-tagline {
  text-align: center;
  font-size: 3vh;
}

.greetings-form a {
  font-size: 3vh;
  color: white;
  text-decoration: none;
}

.greetings-form button {
  height: 3em;
  display: block;
  vertical-align: middle;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 0.875em;
  display: block;
  margin: 0 auto;
  width: 25%;
}

.form-data label {
  vertical-align: middle;
  margin: -3em;
}

.form-data input {
  font-size: 2vh;
  border: none;
  border-bottom: 0.1em solid #E0E0E0;
  outline: none;
}

.form-data input:focus {
  border-bottom: 0.2em solid #DB4437;
  transition-property: border-color;
  transition-duration: 0.5s;
  -webkit-transition-property: border-color;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: border-color;
  -o-transition-duration: 0.5s;
  -moz-transition-property: border-color;
  -moz-transition-duration: 0.5s;
}

.timer {
  color: #DB4437;
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
  font-size: 2vh;
}

.global-timer {
  float: left
}

.local-timer {
  float:right;
}

.start-button {
  font-size: 3vh;
  height: 3em;
  display: block;
  vertical-align: middle;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 25%;
}

.quiz-name {
  font-size: 2vw;
}

.hint {
  font-size: 1.2vw;
}
