<div class="greetings-form">

	<div class="timer" ng-show="!quizOver">
		<div class="global-timer"> {{ QuizMessage }}</div>
		<div class="local-timer">{{Message}}</div>
	</div>

<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">

	 <form class="form-data">
		<h3 class="quiz-name">{{question}}</h3>
          <p class="hint">{{hint}}</p>
		<ul id="options">

		<label  ng-if="options.length == 0">
					<input type="{{type}}" name="answer" placeholder="My answer">
		</label>
			<li ng-if="options.length !== 0" ng-repeat="option in options">
				<label>
					<input type="{{type}}" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>

		<div class="form-data__final-area">
			<button ng-click="nextQuestion()" class="next-question">Submit</button>
		</div>
	</div>
	</form>
	
<div ng-show="quizOver" class="body-greet">
    <form class="form-data__greetings">
      <h3>Quiz is over!</h3>
      <p>Your score: [{{score}}]</p>
      <button ng-click="reset()">Play again</button>
      </form>
</div>

</div>

<div  ng-show="!inProgress" class="body-greet">
	<form class="form-data__greetings" >
		<div> <h2>{{ Quizname }}</h2></div>
	<h3>{{quiz}}</h3>
	<button id="startQuiz" class="start-button" ng-click="start()">Start the Quiz</button>
	</form>
</div>
</div>
